* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Helvetica Neue";
  font-weight: 400;
  scrollbar-width: none;
  scroll-behavior: smooth;
}

*::-webkit-scrollbar {
  display: none;
}

html,
body {
  height: 100%;
  width: 100%;
}

main {
  width: 100%;
  height: 100%;
  display: grid;
  background: white;

  padding: 40px;
  gap: 15px;

  grid-template-rows: 0.13fr 0.8fr 0.5fr 0.5fr;
  grid-template-columns: 0.6fr 1.5fr 1fr 0.5fr 0.5fr;

  grid-template-areas:
    "nav-homepage nav-menus nav-menus nav-menus nav-menu-icon"
    "complete-guide complete-guide your-profile wallet wallet"
    "growth-chart growth-chart blog-introduction blog-introduction blog-introduction"
    "growth-chart growth-chart most-popular good-seo good-seo";
}

#nav-homepage {
  border: 7px solid lightgray;
  grid-area: nav-homepage;
  border-radius: 80px;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5px 0 20px;
}

#nav-homepage span.arrow {
  font-weight: bold;
  rotate: -45deg;
  padding: 10px;
  font-size: 24px;
  border: 2px solid black;
  border-radius: 50%;
}

#nav-menus {
  border: 7px solid lightgray;
  grid-area: nav-menus;
  border-radius: 80px;
  display: inline-flex;
  align-items: center;
}

#nav-menus div.menu {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid black;
  height: 100%;
  padding: 0 5px 0 20px;
  gap: 40px;
  border-radius: 40px;
}

h5 {
  font-size: 24px;
  font-weight: 500;
}

#nav-menus div.menu h5.active {
  font-size: 24px;
  font-weight: 400;
  background: #000;
  color: white;
  border-radius: 40px;
  padding: 8px 16px;
}

#nav-menu-icon {
  border: 7px solid lightgray;
  grid-area: nav-menu-icon;
  border-radius: 80px;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5px 0 20px;
  gap: 40px;
}

#nav-menu-icon span.arrow {
  font-weight: bold;
  padding: 10px;
  font-size: 24px;
  border: 2px solid black;
  border-radius: 50%;
}

#complete-guide {
  background: #000;
  grid-area: complete-guide;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 40px;
  background: url(https://is1-ssl.mzstatic.com/image/thumb/Music122/v4/4e/b1/62/4eb162b2-a54e-2f75-5688-6273450b4412/artwork.jpg/3000x3000bb.jpg);
  background-size: cover;
  background-position: center;
}

#card {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

#complete-guide div.line {
  width: 100%;
  height: 2px;
  background: rgba(211, 211, 211, 0.239);
}

#complete-guide div.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#complete-guide h3 {
  color: white;
  font-size: 64px;
}

#complete-guide h5 {
  color: white;
  font-size: 24px;
  font-weight: 400;
}

#complete-guide div.left {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  border: 2px solid white;
  padding: 5px 5px 5px 20px;
  border-radius: 40px;
}

#complete-guide span.arrow {
  font-weight: bold;
  padding: 10px;
  font-size: 24px;
  border: 2px solid white;
  color: white;
  rotate: -45deg;
  border-radius: 50%;
}

#your-profile {
  background: gold;
  grid-area: your-profile;
  border-radius: 40px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}

#your-profile .top {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

#your-profile .top h5 {
  font-size: 18px;
  border: 2px solid black;
  border-radius: 40px;
  padding: 4px 8px;
}

#your-profile .arrow {
  align-items: baseline;
  padding: 14px;
  font-size: 24px;
  rotate: -45deg;
  border-radius: 50%;
  background: #000;
  color: #fff;
  border: 2px solid black;
}

#your-profile .middle {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#your-profile .middle h3 {
  font-size: 42px;
  font-weight: 500;
}

#your-profile .middle p {
  font-size: 18px;
}

#your-profile .bottom {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

#your-profile .bottom .up {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 100%;
}

#your-profile .bottom .up span {
  display: inline-block;
  width: 40px;
  height: 40px;
  background: black;
  border-radius: 50%;
}

#your-profile .bottom .up h2 {
  font-size: 58px;
  font-weight: 500;
}

#your-profile .bottom .progress {
  width: 100%;
  height: 10px;
  background: rgba(128, 128, 128, 0.213);
  position: relative;
  border-radius: 40px;
}

#your-profile .bottom .progress::after {
  content: "";
  width: 60%;
  height: 10px;
  position: absolute;
  background: #000;
  border-radius: 40px;
}

#your-profile .bottom .line {
  width: 100%;
  height: 2px;
  background: rgba(0, 0, 0, 0.274);
  border-radius: 40px;
}

#wallet {
  background: rgb(186, 206, 155);
  grid-area: wallet;
  border-radius: 40px;
  clip-path: polygon(
    35% 7%,
    65% 7%,
    70% 0,
    100% 0,
    100% 100%,
    0 100%,
    0 0,
    30% 0
  );
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}

#wallet .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#wallet .top h5.active {
  font-size: 24px;
  border: 2px solid black;
  border-radius: 40px;
  padding: 4px 8px;
}

#wallet .top h5 {
  font-size: 24px;
}

#wallet .middle {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#wallet .middle h3 {
  font-size: 42px;
  font-weight: 500;
}

#wallet .middle p {
  font-size: 18px;
}

#wallet .bottom {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  gap: 10px;
}

#wallet .bottom .progress {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  align-items: end;
  width: 100%;
  gap: 10px;
}

#wallet .bottom .progress span.line1 {
  display: block;
  height: 10px;
  background: black;
  border-radius: 20px;
}

#wallet .bottom .progress span.line2 {
  height: 30px;
  display: block;
  background: black;
  border-radius: 20px;
}

#wallet .bottom .progress span.line3 {
  height: 50px;
  display: block;
  background: black;
  border-radius: 20px;
}

#wallet .bottom .progress span.line4 {
  height: 70px;
  background: black;
  display: block;
  border-radius: 20px;
}

#wallet .bottom .progress span.line5 {
  height: 90px;
  display: block;
  background: black;
  border-radius: 20px;
}

#wallet .bottom .progress span.line6 {
  height: 130px;
  display: block;
  background: black;
  border-radius: 20px;
}

#wallet .bottom .line {
  width: 100%;
  height: 2px;
  background: rgba(0, 0, 0, 0.274);
  border-radius: 40px;
}

#growth-chart {
  background: orange;
  grid-area: growth-chart;
  border-radius: 40px;
}

#blog-introduction {
  background: salmon;
  grid-area: blog-introduction;
  border-radius: 40px;
}

#most-popular {
  background: rosybrown;
  grid-area: most-popular;
  border-radius: 40px;
}

#good-seo {
  background: lightseagreen;
  grid-area: good-seo;
  border-radius: 40px;
}
